{% comment %} Main home template using dynamic product listing {% endcomment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ shop.name }}</title>
    <link rel="stylesheet" href="{{ 'stylesheet.css' | asset_url }}">
</head>
<body>
<header id="header">
    <img src="{{ 'mischa-salon-rgb-black-2.png' | asset_url }}" id="logo" alt="{{ shop.name }}">
    <p class="header-text">Novinky</p>
    <p class="header-text">Péče o pleť</p>
    <p class="header-text">Péče o tělo</p>
    <p class="header-text">Vlasy a styling</p>
    <p class="header-text">Značky</p>
    <p class="header-text">Kontakt</p>
    <div id="header-rightt">
        <img src="{{ 'search.png' | asset_url }}" class="header-right" alt="Vyhledávání">
        <a href="/cart"><img src="{{ 'cart.png' | asset_url }}" class="header-right" alt="Košík"></a>
        <a href="/account"><img src="{{ 'user.png' | asset_url }}" class="header-right" alt="Účet"></a>
    </div>
</header>
<div class="slider">
    <div class="slides">
        <img src="{{ 'big_banner_oribe.png' | asset_url }}" alt="">
        <img src="{{ 'make-up_iii.png' | asset_url }}" alt="">
        <img src="{{ 'obnova_struktury_pleti_aha_kyseliny.png' | asset_url }}" alt="">
    </div>
</div>

<div class="nabidka-produktu-main">
{% assign products = collections.frontpage.products | default: collections.all.products %}
{% for product in products limit:3 %}
    <div class="featured-produkts">
        <a href="{{ product.url }}">
            <img class="obrazek_karta" src="{{ product.featured_image | img_url: 'large' }}" alt="{{ product.title }}">
            <p class="featured-produkt-text">{{ product.title }}</p>
        </a>
        <form action="/cart/add" method="post">
            <input type="hidden" name="id" value="{{ product.variants.first.id }}">
            <button class="featured-produkt-add-to-cart" type="submit">Přidat do košíku</button>
        </form>
    </div>
{% endfor %}
</div>
</body>
</html>
